* {
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(135deg, #1d2671, #c33764);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN INPUT CARD */
.container {
    width: 360px;
    padding: 30px;
    margin: 5opx;
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    border-radius: 18px;

    /* 3D EFFECT */
    box-shadow:
        10px 10px 22px rgba(0, 0, 0, 0.35),
        -10px -10px 22px rgba(255, 255, 255, 0.7);
}

.container h1 {
    text-align: center;
    color: #4b0082;
    margin-bottom: 20px;
}

/* INPUTS */
.container input {
    width: 100%;
    padding: 10px;
    margin: 7px 0;
    border-radius: 8px;
    border: none;
    background: #f0f0f0;

    box-shadow:
        inset 3px 3px 6px rgba(0,0,0,0.2),
        inset -3px -3px 6px rgba(255,255,255,0.8);
}

/* BUTTON */
.container button {
    width: 100%;
    margin-top: 30px;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(135deg, #ff9966, #ff5e62);
    color: white;
    font-size: 16px;
    cursor: pointer;

    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.container button:hover {
    transform: scale(1.05);
}

/* CERTIFICATE CARD */
.certificate {
    margin-top: 25px;
    padding: 25px;
    margin: 50px;

    /* HIDDEN INITIALLY */
    display: none;

    background: linear-gradient(145deg, #fffef7, #f3f3f3);
    border-radius: 15px;

    box-shadow:
        10px 10px 22px rgba(0, 0, 0, 0.3),
        -10px -10px 22px rgba(255, 255, 255, 0.8);

    animation: fadeIn 0.6s ease;
}

/* CERTIFICATE TITLE */
.certificate h2 {
    text-align: center;
    color: #c33764;
    margin-bottom: 15px;
    text-transform: uppercase;
}

/* CERTIFICATE TEXT */
.certificate p {
    margin: 8px 0;
    border-bottom: 1px dashed #bbb;
    padding-bottom: 5px;
}

/* HIGHLIGHTS */
#cPercentage {
    font-weight: bold;
    color: #1d2671;
}

#cGrade {
    font-size: 20px;
    font-weight: bold;
    color: #ff5e62;
    text-transform: uppercase;
}

/* ANIMATION */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

